body{
    font-size: 14px;
    font-family: Helvetica, Arial, sans-serif;
}

.header{
    color: #6d7b70;
    margin: 0 auto;
    padding: 5px;
    text-align: center;
}

.menu {
    display: flex;
    margin: 0 auto;
    max-width: 500px;
    justify-content: space-between;
    margin-bottom: 20px;
    font-size: 13px;
}

.cell {
    max-width: 30px;
    background: #ffffff;
    padding: 15px;
    border: 1px solid #d2bd02;
    border-radius: 1px;
    border-left: 0;
    border-top: 0;
}

.sudoku-table {
    margin: auto;
    border-collapse: collapse;
    border: 1px #d2bd02 solid ;
}

.sudoku-table td {
    border: 0;
    padding: 0;
}

.sudoku-table td:nth-child(3n+3) .cell {
    border-right: solid #d2bd02 2px;

}

.sudoku-table tr:nth-child(3n+3) .cell {
    border-bottom: solid #d2bd02 2px;

}

.result {
    margin: 0 auto;
    margin-top: 10px;
    max-width: 400px;
    text-align: center;
    padding: 15px;
}
.result-error {
    background: #FB7C70;
}

.result-success {
   background: #9BE6A0;
}

.background-grey {
    background: #E1E3E3;
}

.background-yellow {
    background: #F9FF97;
}

.background-red {
    background: #FB7C70;

}

.id-nr {
    text-align: right;
}